<!-- edit_post.ejs -->
<%- include("partials/header.ejs") %>

<h1 style="text-align: center; padding-top: 100px; color: white;">Edit Post</h1>
<hr width="50%" style="padding-bottom: 2px; margin-bottom: 50px;" color="grey">

<div class="addpostcard">
    <form action="/edit/<%= post.id %>" method="post">
        <div class="form-group">
            <label style="color: white; font-size: 1.5rem;">Title: </label>
            <input class="form-control" type="text" name="postTitle" value="<%= post.title %>">
            <br></br>
            <label style="color: white; font-size: 1.5rem; ">Post</label>
            <br></br>
            <textarea class="form-control" name="postBody" rows="5" cols="30"><%= post.content %></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button" style="
        font-size: 1.5rem;">Update</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>
